
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'RC-variable';
  src: 
  url('/fonts/RobotoCondensed/RobotoCondensed-VariableFont_wght.ttf') format('truetype'),
  url('/fonts/RobotoCondensed/RobotoCondensed-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}

body {
  font-family: 'RC-variable';
  font-weight: 400;
  color: hotpink;
}

.title {
  font-family: 'RC-variable', sans-serif;
  color: rgb(0, 3, 19);
}

.subtitle {
  font-family: 'RC-variable', sans-serif;
  color: rgb(0, 3, 19);
}

